#homeButton {
	position: absolute;
	float: right;
	top: 5%;
	left: 90%;
	cursor: pointer;
}
.start-button {
	position: relative;
  color: rgba(255,255,255,1);
  text-decoration: none;
  background-color: rgba(219,87,5,1);
  font-family: 'Yanone Kaffeesatz';
  font-weight: 700;
  font-size: 1em;
  display: block;
  padding: 4px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
  -moz-box-shadow: 0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
  box-shadow: 0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
  margin: 1px auto;
	/*width: 50px;*/
	text-align: center;
	
	-webkit-transition: all .1s ease;
	-moz-transition: all .1s ease;
	-ms-transition: all .1s ease;
	-o-transition: all .1s ease;
	transition: all .1s ease;
}

.start-button:active {
  -webkit-box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
  -moz-box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
  box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
  position: relative;
  top: 6px;
}
.difficult-button {
	
  color: rgba(255,255,255,1);
  text-decoration: none;
  background-color: rgba(219,87,5,1);
  font-family: 'Yanone Kaffeesatz';
  
  font-size:50px !important;
  
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
  -moz-box-shadow: 0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
  box-shadow: 0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
  margin-top:20%;
	/*width: 50px;*/
	text-align: center;
	
	-webkit-transition: all .1s ease;
	-moz-transition: all .1s ease;
	-ms-transition: all .1s ease;
	-o-transition: all .1s ease;
	transition: all .1s ease;

}
.difficult-button:active {
  -webkit-box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
  -moz-box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
  box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
  position: relative;
  top: 6px;
}
.difficult-button:hover {
  color: #fff;
	background-color: rgba(192, 79, 9, 1);
	border-color: rgba(155, 66, 12, 1);

}

.layout-loading {
	width: 100%;
	height:1000px;
	top: 0px;
	left: 0px;
	position: absolute;
	z-index: 50;
	background-color: #FFFFFD;
	overflow: hidden;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";       /* IE 8 */
	filter: alpha(opacity=50);  /* IE 5-7 */
	-moz-opacity: 0.9;          /* Netscape */
	-khtml-opacity: 0.9;        /* Safari 1.x */
	opacity: 0.9;
}
.layout-loading div {
	top: 20%;
	left: 45%;
	position: absolute;
}
.layout-loading img {
	left: -350%;
	top: -40px;
	z-index: -1;
	overflow: hidden;
	position: absolute;
}

.return-game-button {
	text-decoration: none;
	margin: 2% !important;
	color: black;
	margin-top:20%;
	font-size:50px !important;
	
	font-weight: 400;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	white-space: nowrap;
	padding: 6px 12px;
	line-height: 1.42857143;
	border-radius: 4px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}
.return-game-button:hover{
	color: #fff;
	background-color: #47a447;
	border-color: #398439;
}

/* Twitter */
.twitter-class {
	font-size: 16px !important;
	overflow: auto;
	background-color: #00BFFF;
}
.twitter-class button {
	text-decoration: none;
	margin: 2% !important;
	color: black;
	margin-top:20%;
	font-size:30px !important;
	
	font-weight: 400;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	white-space: nowrap;
	padding: 6px 12px;
	line-height: 1.42857143;
	border-radius: 10px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}
.twitter-class button:hover{
	color: #fff;
	background-color: #3276b1;
	border-color: #285e8e;
}
.twitter-class button {
	font-size: 15;
}
.twitter-class h2 {
  clear:both;
}

.twitter-class p, a {
  font-size:9pt;
  margin:10px 0 0 0;
  color:#3d3d3d;
}

.twitter-class a, a:visited {
  color:#427fed;
}

.twitter-class a:hover {
  color:#82afff;
}

.twitter-class ul li {
  list-style:none;
  overflow:hidden;
  border:1px solid #dedede;
  margin:5px;
  padding:5px;
}

.twitter-class ul li:hover {
  background-color:#f0f3fb;
}

.user, .tweet, .timePosted {
  float:left;
}

.user {
  width:25%;
}

.tweet {
  width:50%;
}

.timePosted {
  width:15%;
}

.user {
  clear:left;
}

.user a {
 width: 100px;
}

.user span span {
  width:100px;
  display:block;
  margin-top:10px;
}

.user img, .user a > span {
  float:left;
}

.interact {
  float:left;
  width:10%;
  margin-top:-7px;
}

.interact a {
  margin-left:5px;
  float:left;
}

.user a > span {
  margin-left:10px;
}

.options-sound {
	font-size: 25px;
	width: 100%;
	position: absolute;
	left: 25%;
}
.options-sound table tbody tr {
	margin: 10%;
}
.options-sound table tbody tr td {
	width: 50%;
}
.options-sound button{
	display: inline-block;
	margin-bottom: 0;
	font-weight: 400;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	white-space: nowrap;
	padding: 6px 12px;
	font-size: 20px;
	line-height: 1.42857143;
	border-radius: 4px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.options-sound button:hover{
	color: #fff;
	background-color: #3276b1;
	border-color: #285e8e
}
.options-sound-selected {
	color: #fff;
	background-color: #428bca;
	border-color: #357ebd;
}
.contributors tbody tr td span{
	font-size: 20px !important;
}