#homeButton {
	position: absolute;
	float: right;
	top: 5%;
	left: 90%;
	cursor: pointer;
}
.start-button {
	text-decoration: none;
	margin: 2% !important;
	color: black;
	margin-top:20%;
	font-size:50px !important;
	border-radius:10px;
	background-color: #d0efd0;
	border-color: #d0efd0;
	cursor: pointer;
}
.start-button:hover{
	color: #fff;
	background-color: #7fef80;
	border-color: #398439;
}
.layout-loading {
	width: 100%;
	height:1000px;
	top: 0px;
	left: 0px;
	position: absolute;
	z-index: 50;
	background-color: #FFFFFD;
	overflow: hidden;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";       /* IE 8 */
	filter: alpha(opacity=50);  /* IE 5-7 */
	-moz-opacity: 0.9;          /* Netscape */
	-khtml-opacity: 0.9;        /* Safari 1.x */
	opacity: 0.9;
}
.layout-loading div {
	top: 20%;
	left: 45%;
	position: absolute;
}
.layout-loading img {
	left: -350%;
	top: -40px;
	z-index: -1;
	overflow: hidden;
	position: absolute;
}

.return-game-button {
	text-decoration: none;
	margin: 2% !important;
	color: black;
	margin-top:20%;
	font-size:50px !important;
	
	font-weight: 400;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	white-space: nowrap;
	padding: 6px 12px;
	line-height: 1.42857143;
	border-radius: 4px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}
.return-game-button:hover{
	color: #fff;
	background-color: #47a447;
	border-color: #398439;
}