#homeButton {
	position: absolute;
	float: right;
	top: 5%;
	left: 90%;
	cursor: pointer;
}
.start-button {
	text-decoration: none;
	margin: 2% !important;
	color: black;
	margin-top:20%;
	font-size:50px !important;
	border-radius:10px;
	background-color: #d0efd0;
	border-color: #d0efd0;
	cursor: pointer;
}
.start-button:hover{
	color: #fff;
	background-color: #7fef80;
	border-color: #398439;
}
.layout-loading {
	width: 100%;
	height:1000px;
	top: 0px;
	left: 0px;
	position: absolute;
	z-index: 50;
	background-color: #FFFFFD;
	overflow: hidden;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";       /* IE 8 */
	filter: alpha(opacity=50);  /* IE 5-7 */
	-moz-opacity: 0.9;          /* Netscape */
	-khtml-opacity: 0.9;        /* Safari 1.x */
	opacity: 0.9;
}
.layout-loading div {
	top: 20%;
	left: 45%;
	position: absolute;
}
.layout-loading img {
	left: -350%;
	top: -40px;
	z-index: -1;
	overflow: hidden;
	position: absolute;
}

.return-game-button {
	text-decoration: none;
	margin: 2% !important;
	color: black;
	margin-top:20%;
	font-size:50px !important;
	
	font-weight: 400;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	white-space: nowrap;
	padding: 6px 12px;
	line-height: 1.42857143;
	border-radius: 4px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}
.return-game-button:hover{
	color: #fff;
	background-color: #47a447;
	border-color: #398439;
}

/* Twitter */
.twitter-class {
	font-size: 16px !important;
	overflow: auto;
	background-color: #00BFFF;
}
.twitter-class button {
	text-decoration: none;
	margin: 2% !important;
	color: black;
	margin-top:20%;
	font-size:30px !important;
	
	font-weight: 400;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	white-space: nowrap;
	padding: 6px 12px;
	line-height: 1.42857143;
	border-radius: 10px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}
.twitter-class button:hover{
	color: #fff;
	background-color: #3276b1;
	border-color: #285e8e;
}
.twitter-class button {
	font-size: 15;
}
.twitter-class h2 {
  clear:both;
}

.twitter-class p, a {
  font-size:9pt;
  margin:10px 0 0 0;
  color:#3d3d3d;
}

.twitter-class a, a:visited {
  color:#427fed;
}

.twitter-class a:hover {
  color:#82afff;
}

.twitter-class ul li {
  list-style:none;
  overflow:hidden;
  border:1px solid #dedede;
  margin:5px;
  padding:5px;
}

.twitter-class ul li:hover {
  background-color:#f0f3fb;
}

.user, .tweet, .timePosted {
  float:left;
}

.user {
  width:25%;
}

.tweet {
  width:50%;
}

.timePosted {
  width:15%;
}

.user {
  clear:left;
}

.user a {
 width: 100px;
}

.user span span {
  width:100px;
  display:block;
  margin-top:10px;
}

.user img, .user a > span {
  float:left;
}

.interact {
  float:left;
  width:10%;
  margin-top:-7px;
}

.interact a {
  margin-left:5px;
  float:left;
}

.user a > span {
  margin-left:10px;
}